.popup {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.popup-inner {
  position: relative;
  padding: 32px;
  max-height: fit-content;
  background-color: darkslategrey;
  border-radius: 15px;
}

.head_sup{
  display: flex;
}

.header {
  display: flex;
}

.rating{
  position: relative;
  padding: 70px;
}

.in_rate{
  width: 35px;
  height: 25px;
  padding: 5px;
  border-radius: 4;
}

.btn_rate{
  position: relative;
  padding: 5px;
  background-color: rgb(4, 50, 77);
  left: 10px;
}

.calification{
  display: flex;
  position: relative;
  padding: 60px;
}

.close-btn {
  position: absolute;
  max-width: 4rem;
  max-height: 3rem;
  right: 2rem;
  top: 2rem;
}

.image-card {
  width: 200px;
  border-radius: 5px 5px 5px 5px;
}

.image-container {
  margin-right: 1rem;
}

.title {
  justify-content: center;
  margin-top: 3rem;
  line-height: unset;
}

.meal-details-instructions {
  max-width: 80rem;
}
