.cardContainer {
    padding: 1px;
    margin: 3px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px -5px;
    background-color: darkslategrey;
    font-palette:dark;
}

.cardContainer:hover {
    transform: scale(1.01);
    box-shadow: 0px 0px 5px 0px;
    transition: 0.5s;
}

.mealName {
    text-align: center;
    margin-top: 10px;
}

.imageContainer {
    text-align: center;
}

.meal-card-img {
    max-width: 100%;
    height: 450px;
    border-radius: 15px 15px 0 0;
}

.cardContent {
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-left: 20px;
}
