.cardContainer {
    width: 17rem;
    padding: 1px;
    margin: 1rem 1rem 1rem 1rem;
    border-radius: 15px;
    box-shadow: 0px 0px 10px black;
    /*background-color: rgb(170, 143, 126);*/
    background-color: rgb(78, 32, 32);
}


.cardContainer:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 10px black;
    transition: 0.5s;
}

.mealName {
    text-align: center;
    margin-top: 10px;
}

.imageContainer {
    text-align: center;
}

.meal-card-img {
    max-width: 100%;
    height: 10rem;
    width: 10rem;
    border-radius: 5px 5px 5px 5px;
}

.cardContent {
    text-align: center;
    color: white;
    margin-top: 10px;
}

.info-btn{
    margin-bottom: 1rem;
}
