.search-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.search-bar-title {
    display:flex;
    align-content:flex-start;
    margin-left: 3rem;
}

.search-bar__input {
    flex: 1;
    border: none;
    margin-left: 40rem;
    font-size: 1rem;
}

.search-bar__button {
    float: right;
    margin-right: 3rem;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    cursor: pointer;
    transition: border-color 0.25s
}
